body {
    padding-top: 50px; /* Отступ сверху для контента */
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222; /* Темный фон */
    color: white;
    padding: 10px 20px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Тень для глубины */
    backdrop-filter: blur(10px); /* Эффект размытия */
}

.user-info {
    font-size: 16px; /* Уменьшенный шрифт для имени пользователя */
}

.logout-button .btn {
    background-color: #007bff; /* Синий цвет кнопки "Выйти" */
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    border: none;
}

.logout-button .btn:hover {
    background-color: #0056b3; /* Более темный синий при наведении */
}
